.Me {
	display: block;
	width: 1.5em;
	text-decoration: none;
	margin: 2rem 2rem 1rem auto;
}

.Icon-label {
	font-size: 0.5em;
	font-weight: 700;
	display: block;
	text-align: center;
}

h3 {
	padding: 1rem 2rem;
}

/* leave almost all styles the same to make it obvious it's a button */
/* native, platform-specific styles do best at making it clear what's what */
h3 button {
	display: inline-block;
	padding: 0.4rem 0.8rem;
	margin: 0 0.8rem;
	cursor: pointer;
}

li {
	list-style-type: none;
}

.Person-item a {
	border: none;
	border-bottom: 1px solid #eee;
	width: 100vw;
	text-align: left;
	text-decoration: none;
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	font-weight: 500;
}

.Person-item:hover, .Person-item:focus {
	background-color: #f8f8f8;
}

.Person-name {
	display: block;
	padding-right: 1rem;
}

.Supplycon-list {
	display: flex;
}

.Supplycon-item {
	padding-left: 2rem;
}

img {
	width: 1.4em;
	margin: 0 auto;
}