/* normalize spacing, fonts... */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { font-size: 10px; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-size: 1.9rem;
	max-width: 600px;
	margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input, button, textarea, select, a {
  font: inherit;
	color: inherit;
	text-decoration: none;
}

img, svg { display: block; }

/* navbar */

#Navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid #ddd;
}

#Navbar a {
	width: 33.3333333333%;
	padding: 0.5em;
}

#Navbar a:hover svg, 
#Navbar a:focus svg,
#Navbar:hover a.active:hover svg,
#Navbar a.active svg {
	fill: #000;
}

#Navbar a svg, 
#Navbar:hover a.active svg {
	fill: #777;
}

/* main */

#Navbar + main {
	min-height: calc(100vh - 15.82em);
}

/* home page – register and login links at the top */

#Register-Login-links {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-top: 2em;
}

#Register-Login-links a {
	padding: 0.5em;
}

#Register-Login-links a:first-child {
	border: 2px solid black;
	border-radius: 0.1em;
	margin-bottom: 0.5em;
	transition: border-radius 0.3s ease;
}

#Register-Login-links a:first-child:hover,
#Register-Login-links a:first-child:focus {
	border-radius: 1em;
}

#Register-Login-links > div {
	position: relative;
	width: 5em;
	height: 1em;
	color: #777;
}

#Register-Login-links hr {
	position: absolute;
	width: 100%;
	top: 0.5em;
	z-index: -1;
	border: none;
	border-bottom: 2px solid #bbb;
}

#Register-Login-links p {
	text-align: center;
	width: 2em;
	height: 0.9em;
	margin: 0 auto;
	background-color: white;
}

#Register-Login-links a:last-child {
	color: #777;
}

#Register-Login-links a:last-child:hover,
#Register-Login-links a:last-child:focus {
	color: #000;
}

/* home page – cards */

h2, .Filter-radio-button {
	padding: 0 1.9rem;
}

h2 {
	margin-top: 1.9rem;
}

.Filter-radio-button input {
	margin-right: 0.75em;
}

h2 + .Filter-radio-button {
	margin: 1em 0 0.5em;
}

h2 + .Filter-radio-button + .Filter-radio-button {
	margin-bottom: 1em;
}

#All-users-list > li {
	border-top: 1px solid #eee;
}

#All-users-list a {
	padding: 0.5em calc(1.9rem + 0.5em);
	display: flex;
	align-items: center;
}

#All-users-list a:hover, 
#All-users-list a:focus {
	background-color: #eee;
}

/* footer */

#Footer-section {
	background-color: #111;
	color: white;
	padding: 2em 1.9rem;
	font-size: 0.9em;
	margin-top: 1em;
	line-height: 1.5;
}

#Footer-section > div {
	margin-top: 1em;
}

#Footer-section > div:first-of-type {
	margin-top: 2em;
}

#Footer-section svg {
	fill: white;
	display: inline-block;
	height: 1.2em;
	margin-bottom: -0.2em;
	margin-right: 0.2em;
}

#Footer-section a {
	text-decoration: underline;
}

.Me {
	display: block;
	width: 1.5em;
	text-decoration: none;
	margin: 2rem 2rem 1rem auto;
}

.Icon-label {
	font-size: 0.5em;
	font-weight: 700;
	display: block;
	text-align: center;
}

h3 {
	padding: 1rem 2rem;
}

/* leave almost all styles the same to make it obvious it's a button */
/* native, platform-specific styles do best at making it clear */
h3 button {
	display: inline-block;
	padding: 0.4rem 0.8rem;
	margin: 0 0.8rem;
	cursor: pointer;
}

li {
	list-style-type: none;
}

.Person-item a {
	border: none;
	border-bottom: 1px solid #eee;
	width: 100vw;
	text-align: left;
	text-decoration: none;
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	font-weight: 500;
}

.Person-item:hover, .Person-item:focus {
	background-color: #f8f8f8;
}

.Person-name {
	display: block;
	padding-right: 1rem;
}

.Supplycon-list {
	display: flex;
}

.Supplycon-item {
	padding-left: 2rem;
}

svg {
	width: 1.4em;
	height: auto;
	margin: 0 auto;
}

.Register-page input[type="checkbox"] {
	display: none;
}

.Register-page label {
	display: inline-block;
	padding: 0.5em;
	border-radius: 0.4rem;
	border: 0.2rem solid transparent;
}

.Register-page label.checked {
	border-color: #8ce;
}