/* normalize spacing, fonts... */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { font-size: 10px; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-size: 1.9rem;
	max-width: 600px;
	margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input, button, textarea, select, a {
  font: inherit;
	color: inherit;
	text-decoration: none;
}

img, svg { display: block; }

li { list-style-type: none; }

label, button { cursor: pointer; }

/* navbar */

#Navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid #ddd;
}

#Navbar a {
	width: 33.3333333333%;
	padding: 0.5em;
}

#Navbar a:hover svg, 
#Navbar a:focus svg,
#Navbar:hover a.active:hover svg,
#Navbar a.active svg {
	fill: #000;
}

#Navbar a svg, 
#Navbar:hover a.active svg {
	fill: #777;
}

/* main */

#Navbar + main {
	min-height: calc(100vh - 15.82em);
	padding: 1em;
}

/* home page – register and login links at the top */

#Register-Login-links {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: 1em 0;
}

#Register-Login-links a {
	padding: 0.5em;
}

#Register-Login-links a:first-child {
	border: 2px solid black;
	border-radius: 0.1em;
	margin-bottom: 0.5em;
	transition: border-radius 0.3s ease;
}

#Register-Login-links a:first-child:hover,
#Register-Login-links a:first-child:focus {
	border-radius: 1em;
}

#Register-Login-links > div {
	position: relative;
	width: 5em;
	height: 1em;
	color: #777;
}

#Register-Login-links hr {
	position: absolute;
	width: 100%;
	top: 0.5em;
	z-index: -1;
	border: none;
	border-bottom: 2px solid #bbb;
}

#Register-Login-links p {
	text-align: center;
	width: 2em;
	height: 0.9em;
	margin: 0 auto;
	background-color: white;
}

#Register-Login-links a:last-child {
	color: #777;
}

#Register-Login-links a:last-child:hover,
#Register-Login-links a:last-child:focus {
	color: #000;
}

/* home page – filter by supply group radio buttons */

.Filter-by-supply-group {
	margin-bottom: 2em;
	display: flex;
	flex-flow: column; 
	align-items: center;
}

.Filter-by-supply-group div {
	margin-top: 1em;
	display: flex;
}

.Filter-by-supply-group input {
	display: none;
}

.Filter-by-supply-group label {
	border: 2px solid #777;
	border-radius: 5px;
	padding: 0.5em;
	color: #777;
}

.Filter-by-supply-group input:focus + label,
.Filter-by-supply-group label:hover {
	border-color: #555;
	color: #555;
}

.Filter-by-supply-group label:first-of-type {
	margin-right: 1em;
}

.Filter-by-supply-group input:checked + label {
	border-color: black;
	color: black;
}

/* home page – cards */

#All-users-list > li, #Contacts-list > li {
	border-top: 1px solid #eee;
}

#All-users-list a, #Contacts-list a {
	padding: 0.5em;
	display: flex;
	align-items: center;
}

#All-users-list a:hover, 
#All-users-list a:focus,
#Contacts-list a:hover,
#Contacts-list a:focus {
	background-color: #eee;
}

/* profile page */

#Profile-h1-and-edit-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#Profile-page h1 {
	font-size: 1.5em;
}

#Profile-h1-and-edit-button button {
	padding: 0.25em;
}

#Profile-page-have-supplies,
#Profile-page-need-supplies {
	margin: 1em 0;
	display: flex;
	align-items: center;
}

#Profile-page > button {
	display: block;
	width: 100%;
	max-width: 300px;
	margin: 2em auto 1.5em;
	padding: 0.25em;
}

#Profile-page > button:last-child {
	border: none;
	background-color: inherit;
	color: #777;
	font-size: 0.9em;
	margin-top: 1.5em;
}

#Profile-page > button:last-child:hover,
#Profile-page > button:last-child:focus {
	color: red;
	font-weight: 500;
}

/* footer */

#Footer-section {
	background-color: #111;
	color: white;
	padding: 2em 1.9rem;
	font-size: 0.9em;
	margin-top: 1em;
	line-height: 1.5;
}

#Footer-section > div {
	margin-top: 1em;
}

#Footer-section > div:first-of-type {
	margin-top: 2em;
}

#Footer-section svg {
	fill: white;
	display: inline-block;
	height: 1.2em;
	margin-bottom: -0.2em;
	margin-right: 0.2em;
}

#Footer-section a {
	text-decoration: underline;
}

/* Login page, Register page */

#Login-h1-and-register-link, #Login-page form,
#Register-h1-and-login-link, #Register-page form {
	padding: 1em;
}

#Login-h1-and-register-link, #Register-h1-and-login-link {
	display: flex; 
	align-items: center;
	justify-content: space-between;
	padding-bottom: 0;
}

#Login-page h1, #Register-page h1 {
	font-size: 1.5em;
}

#Login-h1-and-register-link a, 
#Register-h1-and-login-link a {
	color: #777;
}

#Login-h1-and-register-link a:hover,
#Login-h1-and-register-link a:focus,
#Register-h1-and-login-link a:hover,
#Register-h1-and-login-link a:focus {
	color: #000;
}

#Login-page input, #Login-page button,
#Register-page input, #Register-page button {
	display: block;
	width: 100%;
	margin: 1em 0;
	border-width: 2px;
	border-style: solid;
	padding: 0.5em;
	border-radius: 5px;
}

#Register-page h3 {
	margin: 1em 0 0.5em;
}

#Register-form-have-supplies,
#Register-form-need-supplies {
	display: flex;
}

#Register-form-have-supplies input, 
#Register-form-need-supplies input {
	display: none;
}

#Register-form-have-supplies label,
#Register-form-need-supplies label {
	border: 1px solid #777;
	padding: 0.5em;
	border-radius: 5px;
	margin-right: 1em;
	color: #777;
}

#Register-form-have-supplies label.checked,
#Register-form-need-supplies label.checked {
	border: 2px solid black;
	padding: calc(0.5em - 1px);
	color: black;
}

#Register-form-have-supplies label.checked svg,
#Register-form-need-supplies label.checked svg {
	fill: black;
}

#Register-form-have-supplies svg,
#Register-form-need-supplies svg {
	width: 1.5em;
	fill: #777;
}

#Register-page form button {
	margin-top: 1.5em;
}

/* chat page */

#Chat-page-need, #Chat-page-have {
	display: flex;
	margin: 1em 0;
}

#Chats-list {
	margin-top: 2em;
}

#Chats-list li {
	margin: 1em 0;
}

#Chats-list li p:last-child {
	font-size: 0.8em;
	color: #777;
}

#Chat-page form {
	display: flex;
}

#Chat-page form textarea {
	width: calc(100% - 3.5em);
	min-width: calc(100% - 3.5em);
	max-width: calc(100% - 3.5em);
	min-height: 2em;
	margin-right: 1em;
	padding: 0.4em 0.5em;
}

#Chat-page form button {
	padding: 0 0.5em;
	height: 2em;
}

.Icon-label {
	font-size: 0.5em;
	font-weight: 700;
	display: block;
	text-align: center;
}

.Person-item a {
	border: none;
	border-bottom: 1px solid #eee;
	width: 100vw;
	text-align: left;
	text-decoration: none;
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	font-weight: 500;
}

.Person-item:hover, .Person-item:focus {
	background-color: #f8f8f8;
}

.Person-name {
	display: block;
	padding-right: 1rem;
}

.Supply-icons-list {
	display: flex;
}

.Supply-icons-list li {
	padding-left: 2rem;
}

svg {
	width: 1.4em;
	height: auto;
	margin: 0 auto;
}

.Register-page label {
	display: inline-block;
	padding: 0.5em;
	border-radius: 0.4rem;
	border: 0.2rem solid transparent;
}